 /* common styles */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 .align-center {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 a {
     text-decoration: none;
 }

 /* header section */
 header {
     width: 100%;
     height: 100vh;
 }

 .header-container {
     width: 85%;
     display: flex;
     justify-content: center;
     background-color: #002244;
     border-radius: 25px;
 }

 .header-text {
     width: 40%;
     margin: auto 10px;
     padding-right: 20px;
     color: white;
     position: relative;

 }

 #header-h1 {
     font-size: 3.3em;
     font-weight: 900;
     color: white;
     margin: 0;
     line-height: 65px;
 }

 #header-p {
     font-size: 17px;
     margin: 25px 0px;
 }

 .header-text a {
     position: absolute;
     margin: 0;
 }

 .fa-arrow-right {
     margin-left: 5px;
 }

 .btn {
     padding: 15px 20px;
     font-size: 16px;
     background-color: rgb(51, 86, 243);
     color: white;
     border: none;
     border-radius: 5px;
     box-shadow: 0 9px rgb(5, 36, 122);
     transition-duration: 0.4s;
     transition: padding-right 0.5s;
 }

 .header-img {
     width: 40%;
 }

 .header-img img {
     width: 100%;
 }

 .btn:hover {
     padding-right: 35px;
     background-color: rgb(17, 49, 193);
 }

 .btn:active {
     background-color: rgb(17, 49, 193);
     box-shadow: 0 5px rgb(22, 11, 105);
     transform: translateY(6px);
 }

 /* Blog section */
 .bolg-section {
     margin: 30px 0px 90px;
 }

 .blog-container {
     width: 88%;
     margin: 0px auto;
     display: grid;
     grid-template-columns: 300px auto;
     grid-template-rows: auto;
     gap: 20px;
 }

 .menu {
     display: flex;
     justify-content: flex-end;
 }

 .menu-container {
     width: 100%;
     max-height: 265px;
     display: grid;
     padding: 20px;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(3, 1fr);
     justify-content: space-evenly;
     row-gap: 20px;
     background-color: #002244;
     border-radius: 7px;
     font-weight: 700;
     text-align: center;
 }

 .menu-items {
     width: 100%;
     padding: 20px;
     border-radius: 7px;
     color: black;
     background-color: white;
 }

 .inactive:visited {
     color: black;
     background-color: white;
 }

 .active,
 .menu-items:hover {
     color: white;
     background-color: rgb(51, 86, 243);
 }

 .blogs-grid {
     display: grid;
     gap: 17px;
     grid-template-columns: repeat(3, 1fr);

 }

 .blog-item {
     border-radius: 7px;
     border: 1px solid rgb(188, 188, 188);
 }

 .blog-item img {
     width: 100%;
     border-radius: 7px 7px 0px 0px;
 }

 .item-text {
     padding: 15px;
 }

 .transfer-btn {
     font-size: 15px;
     padding: 5px 15px;
     border-radius: 5px;
     border: 2px solid gray;
     background-color: white;
     cursor: pointer;
 }

 .item-text p {
     font-weight: 700;
     margin: 15px 0;
 }

 .blog-footer {
     display: flex;
     justify-content: space-evenly;
 }

 .comments {
     display: flex;
     align-items: center;
 }

 .comments img {
     width: 100%;
 }

 .blog-footer span {
     margin-left: 5px;
 }

 .invisible-btn {
     width: 100%;
     margin: 5px 0px 30px;
     display: none;
     /* border: 1px solid red; */
 }

 .view-btn {
     padding: 10px 20px;
 }


 /* Footer section */
 footer {
     padding: 50px 0px;
     background-color: #222222;
     text-align: center;
     color: white;
 }

 footer h2 {
     font-size: 33px;
 }

 footer hr {
     width: 80%;
     margin: 50px auto;
     background-color: gray;
     border-color: gray;
 }

 .footer-link {
     width: 75%;
     margin: 0px auto;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     text-align: center;
 }

 .footer-a {
     padding: 0px 20px;
     color: rgb(220, 220, 220);
 }

 .social-icon {
     width: 250px;
     padding: 5px;
     margin: 35px auto 10px;
     display: flex;
     justify-content: space-evenly;
 }

 .social-icon img {
     width: 42px;
     filter: invert();
 }

 /* Responsiveness for small screen */
 @media screen and (min-width: 996px) and (max-width: 1274px) {

     .header-container {
         height: 80%;
     }

     .blog-container {
         width: 85%;
     }

     .blogs-grid {
         display: grid;
         gap: 17px;
         grid-template-columns: repeat(2, 1fr);
     }

 }

 /* Responsiveness for Tablet */
 @media screen and (min-width: 658px) and (max-width: 995px) {

     /* header section */
     .header-container {
         height: 80%;
     }

     #header-h1 {
         font-size: 37px;
         line-height: 50px;
         margin: 0;
     }

     #header-p {
         font-size: 15px;
         margin: 13px 0px 16px;
         overflow: hidden;
         text-overflow: ellipsis;
     }

     /* Blog section */
     .blog-container {
         width: 85%;
         margin: 0px auto;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: auto;
         gap: 17px;
         grid-template-areas: "m m m m m m m m m m m m"
             "b b b b b b b b b b b b";

     }

     .menu {
         grid-area: m;
         width: 100%;
         margin: 0px auto;
         padding-left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .menu-container {
         width: 100%;
         display: grid;
         padding: 20px;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: auto;
         justify-content: space-evenly;
         align-items: center;
         gap: 15px;
     }

     .menu-items {
         padding: 15px;
         border-radius: 5px;
     }

     .blogs-grid {
         grid-area: b;
         display: grid;
         gap: 17px;
         grid-template-columns: repeat(2, 1fr);
     }

     /* Invisible Button */
     .invisible-btn {
         display: flex;
         justify-content: center;
     }

 }

 /* Responsiveness for Mobile */
 @media screen and (max-width: 657px) {

     /* header section */
     header {
         width: 100%;
         height: 95vh;
         padding: 15px;
     }

     .header-container {
         width: 100%;
         height: 100%;
         padding: 17px 18px 0px 18px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         border-radius: 12px;
     }

     .header-text {
         width: 100%;
         height: 55%;
         margin: 0px auto;
         padding: 0px 20px;
         color: white;
         position: relative;
         text-align: center;
         /* border: 1px solid red; */
     }

     #header-h1 {
         font-size: 26px;
         line-height: 40px;
         margin: 35px 0px 0px;
     }

     #header-p {
         font-size: 13px;
         text-align: center;
         margin: 12px 0px 17px;
     }

     .btn {
         padding: 12px 20px;
         font-size: 14px;
     }

     .center-a {
         width: 100%;
         display: flex;
         justify-content: center;
     }

     .header-img {
         width: 60%;
         margin: 0px auto;
     }

     .header-img img {
         width: 100%;
     }

     /* Blog section */
     .blog-container {
         width: 85%;
         margin: 0px auto;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: auto;
         gap: 17px;
         grid-template-areas: "m m m m m m m m m m m m"
             "b b b b b b b b b b b b";

     }

     .menu {
         grid-area: m;
         width: 100%;
         margin: 0px auto;
         padding-left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .menu-container {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(3, 1fr);
         justify-content: space-evenly;
         align-items: center;
         gap: 15px;
     }

     .menu-items {
         width: 70%;
         margin: 0px auto;
         padding: 15px;
         border-radius: 5px;
     }

     .blogs-grid {
         grid-area: b;
         grid-template-columns: 1fr;
     }

     /* Footer section */
     .footer-link {
         width: 60%;
         margin: 0px auto;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         text-align: center;
         line-height: 30px;
     }
 }